* {
    box-sizing: border-box;
    font-family: 'Lato';
}

body {
    background-color: #302D47;
    margin: 0;
    height: 100svh;
    padding: 0 5%;
}

h1, h2, h3 {
    margin: 0;
}

.login {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-login {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-title {
    font-size: 109px;
    font-weight: 900;
    color: white;
    line-height: 97px;
}

.logo-subtitle {
    font-size: 26px;
    font-weight: 400;
    color: #BFBFBF;
}

.login-form {
    width: 316px;
    margin-top: 89px;
}

.text-wrapping {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.input-form {
    background-color: #3F3D56;
    color: #D2D2D2;
    padding: 9px 0 8px 23px;
    border-radius: 7px;
    outline: none;
    border: none;
    font-size: 20px;
}

.link-button-wrapping {
    display: flex;
    margin-top: 16px;
    justify-content: space-between;
    align-items: center;
}

.forgot-pwd-link {
    text-decoration: none;
    color: #BFBFBF;
    text-transform: capitalize;
    font-size: 12px;
}

.default-button {
    background-color: #6C63FF;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 7px;
    width: 100%;
    transition: 300ms;
    font-family: inherit;
}

.default-button:hover {
    background-color: transparent;
    border: 1px solid #6C63FF;
    color: #6C63FF;
}

.entry-button {
    width: 152px;
    height: 40px;
    font-size: 20px;
    text-transform: capitalize;
}

.h3-button-wrapping {
    display: flex;
    flex-direction: column;
    margin-top: 58px;
    gap: 25px;
}

.create-account {
    color: #BFBFBF;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 400;
}

.create-account-button {   
    height: 40px;
    font-size: 20px;
}

.image-login {
    width: 60%;
}

